@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <p>You have been successfully changed password.</p>
            <p>@Html.ActionLink("Return to the control panel", "Index", "ChangePassword")</p>
        </div>
    </div>
</div>