<div class="col-md-3">
    <ul class="vertical-menu">
        <li>@Html.ActionLink("Overview", "Index", "ProfileOverview", null, new { @class = "btn btn-primary send-button" })</li>
        <li>@Html.ActionLink("Options", "Index", "ChangeProfile", null, new { @class = "btn btn-primary send-button" })</li>
    </ul>
</div>