<div class="col-md-3">
    <ul class="vertical-menu">
        <li>@Html.ActionLink("Overview", "Index", "ProfileOverview", null, new { @class = "btn btn-primary send-button" })</li>
        <li>@Html.ActionLink("Profile", "Index", "ChangeProfile", null, new { @class = "btn btn-primary send-button" })</li>
        <li>@Html.ActionLink("Password", "Index", "ChangePassword", null, new { @class = "btn btn-primary send-button" })</li>
        <li>@Html.ActionLink("Avatar", "Index", "ChangeAvatar", null, new { @class = "btn btn-primary send-button" })</li>
    </ul>
</div>