.row-margin
{
    margin-top: 10px;
}

.validation-error-text
{
    font-weight: bold;
    color: red;
}

.forgot-password-text
{
    text-align: right;
}

.send-button
{
    width: 100%;
    margin-top: 10px;
}

.vertical-menu
{
    list-style: none;
    padding: 0;
}

.avatar-image
{
    width: 128px;
    height: 128px;
}

.author-details-container {
    width: 150px;
}

.post-author-name {
    margin-bottom: 5px;
}

.post-author-details {
    font-size: 0.9em;
    margin-top: 5px;
}