.row-margin
{
    margin-top: 10px;
}

.validation-error-text
{
    font-weight: bold;
    color: red;
}

.forgot-password-text
{
    text-align: right;
}

.send-button
{
    width: 100%;
    margin-top: 10px;
}

.vertical-menu
{
    list-style: none;
    padding: 0;
}