@model App.MVC.ViewModels.ControlPanel.ProfileOverviewViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row row-margin">
    @Html.Partial("ControlPanelMenu")

    <div class="col-md-9">
        <div class="card bg-light">
            <div class="card-header">Profile overview</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 text-right"><strong>Joined:</strong></div>
                    <div class="col-md-9">@Model.JoinTime</div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right"><strong>Total posts:</strong></div>
                    <div class="col-md-9">@Model.PostsCount [@(Model.PercentageOfAllPosts * 100)% of all posts / @Model.PostsPerDay posts per day]</div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right"><strong>Most active category:</strong></div>
                    <div class="col-md-9">
                        @if (Model.MostActiveCategory != null)
                        {
                            @:Model.MostActiveCategory.CategoryName
                        }
                        else
                        {
                            @:none
                        }
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-right"><strong>Most active topic:</strong></div>
                    <div class="col-md-9">
                        @if (Model.MostActiveTopic != null)
                        {
                            @:Model.MostActiveTopic.TopicName
                        }
                        else
                        {
                            @:none
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>