@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <p>Your account has been created.</p>
            <p>@Html.ActionLink("Return to the index page", "Index", "Section")</p>
        </div>
    </div>
</div>